section {
    display: grid;
    grid-gap: 0.5rem;
    padding: 1rem;
    
    justify-content: center;
    text-align: center;

  }
  body{
    background-color: rgb(154, 208, 230);
  }
  article {
    background-color: #a0c29d;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
  }
article:hover{
  background-color: rgba(125, 243, 145, 0.219);
 
}  

  
  @media (min-width: 400px) {
    section {
      grid-template-columns:  auto  auto;
    }
  }
  @media (min-width: 600px) {
    section {
      grid-template-columns: auto auto  auto;
    }
  }
  @media (min-width: 768px) {
    section {
      grid-template-columns: auto auto auto auto auto;
    }
  }
  @media (min-width: 992px) {
    section {
      grid-template-columns: auto auto auto auto auto auto auto;
    }
  }
 h1{
  text-align: center;
 }